@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Graduate&family=Hind+Vadodara:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rozha+One&display=swap');



body{
    
    margin: 0px auto;
    background-image: url(https://i.postimg.cc/4y4q22q7/Chat-GPT-Image-9-de-mai-de-2026-17-00-17.png);

}

main{
    
    min-height: 75vh;
    min-width: 175vh;
    margin: 15vh;
    display: grid;
    grid-template-areas: 
    "entrar cadastrar"  
    "entrar cadastrar"
    ;




    grid-template-columns: 0.65fr 1.8fr ;
    grid-template-rows: 1fr ;

}

.entrar{
    font-family:Poppins;
    grid-area: entrar;
    background-color:#1f1e1e;
    border-radius: 15px 0px 0px 15px;
    white-space:wrap;
    color:white;

}

.entrar h1,.entrar p,.entrar a{
    text-align: center;
}




#button_entrar{

    background:none;
    border:4px solid white;
    border-radius: 20px;
    color:white;
    font-size: 20px;
    padding: 10px;
    min-width: 127px;
    cursor: pointer;
    
    
}

#button_entrar:hover{
    background-color: grey;
}

#sair{
    max-width: 150px;
    max-height:150px;
    box-sizing: border-box;
    margin: 15px;
}

.cadastrar{
    border-radius: 0px 15px 15px 0px;
    grid-area: cadastrar;
    background-color: rgba(59, 57, 57, 0.95);
    font-family: poppins;
    padding: 25px;
    text-align: center;
    color: bisque;
  
}

.cadastrar input{
    font-family:poppins;
    font-size: 20px;
    min-width: 650px;
    min-height: 50px;
    margin: 15px;
    color:grey ;
    text-align: center;
    border-radius: 15px;
    border: 2px solid black;

}


form{
    border: 2px solid bisque;
    border-radius: 15px;
    padding: 15px;
    
}


#cadastrar{
    background-color: #1f1e1e;
    color: rgb(255, 255, 255);
    min-width:250px;
    min-height: 50px;
    border: none;
    border-radius: 15px;
    font-family: poppins;
    font-size: large;
}

#cadastrar:disabled {
    background-color: #555555;
    color: #888888;
    cursor: not-allowed;
    opacity: 0.6;
}/*Caso ative a funcionalidade comentada no js*/

#cadastrar:hover:not(:disabled){
    background: grey;
}

.container_senha{
    position: relative;
    margin:8px auto;
    right:18px;
    max-width:650px;
    align-items: center;
    justify-content: center;
}

.container_senha senha{
    width: 100%;
    margin: 8px 0px;
    padding-right: 50px;
}

#iconeOlho{
    position: absolute;
    right: 20px;
    top: 32px;
    color: #555555;
    cursor: pointer;
    user-select: none;
    font-size: 22px;
}

#iconeOlho:hover {
    color: #888888; 
}
